:root {
  --primary: #257d7f;
  --secondary: #38aecc;
  --third: #183446;
  --text: #ffffff;
  --background: #fffcf2;
  --assets: #c9c19f;
  --textBlack: #000000;
  --components: #3a3a3a;
  --backgroundGrey: #ebebeb;
  --primary-hover: #008c94;
}
