---
import Image from "astro/components/Image.astro";
import Zevedei1 from "../assets/images/zevedei1.png";
---

<div class="top-container grid-cols-2 hidden lg:grid">
  <div class="flex justify-center items-center flex-col gap-28">
    <div class="felx flex-col justify-end items-start">
      <h1 class="heading top-text">Relaxare profundă.</h1>
      <div
        class="flex down-text gap-4 items-center self-stretch justify-center"
      >
        <h1 class="heading w-min">Energie nouă.</h1>
        <p class="sub-text">
          Ofer sesiuni personalizate de masaj terapeutic, de relaxare sau de
          întreținere, adaptate nevoilor tale fizice
        </p>
      </div>
    </div>
    <div class="banner flex flex-col items-center justify-center">
      <h3 class="header-3">Vrei să faci o programare sau ai întrebări?</h3>
      <button class="contact-btn flex items-center justify-center">
        <p class="text-btn">Solicită o ședință</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <path
            d="M3.75 10.5L8.25 6L3.75 1.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="w-auto">
    <div class="flex jusitfy-center items-center flex-col gap-6">
      <Image
        class="image-prim"
        src={Zevedei1}
        alt="Antonio Zevedei , Fiziokinetoterapeut"
      />
      <div class="flex flex-col items-end justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="204"
          height="4"
          viewBox="0 0 204 4"
          fill="none"
          class="mb-2"
        >
          <path
            d="M2 2L202 2"
            stroke="#C9C19F"
            stroke-width="4"
            stroke-linecap="round"></path>
        </svg>
        <div class="inline-flex flex-col items-start">
          <h2 class="header-2">Antonio Zevedei</h2>
          <p class="text-blue">Fiziokinetoterapeut</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-container block lg:hidden">
  <div class="flex justify-center items-center mb-11">
    <h1 class="w-40 heading-mobile">Relaxare profundă. Energie nouă.</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="5"
      height="82"
      viewBox="0 0 5 82"
      fill="none"
    >
      <path
        d="M2.5 2L2.5 80"
        stroke="#C9C19F"
        stroke-width="4"
        stroke-linecap="round"></path>
    </svg>
    <p class="sub-mobile ms-2">
      Ofer sesiuni personalizate de masaj terapeutic, de relaxare sau de
      întreținere, adaptate nevoilor tale fizice
    </p>
  </div>
  <div class="flex flex-col justify-center items-center gap-5 mb-4">
    <Image
      class="image-prim-mobile"
      src={Zevedei1}
      alt="Antonio Zevedei , Fiziokinetoterapeut"
    />
    <div class="flex flex-col items-start gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="205"
        height="5"
        viewBox="0 0 205 5"
        fill="none"
      >
        <path
          d="M2.5 2.36938L202.5 2.36938"
          stroke="#C9C19F"
          stroke-width="4"
          stroke-linecap="round"></path>
      </svg>
      <div class="flex flex-col items-start">
        <p class="name-mobile">Antonio Zevedei</p>
        <p class="sub-name">Fiziokinetoterapeut</p>
      </div>
    </div>
  </div>
  <div
    class="banner banner-mobile md:me-14 flex flex-col items-center justify-center"
  >
    <h3 class="header-3-mobile">Vrei să faci o programare sau ai întrebări?</h3>
    <button class="contact-btn flex items-center justify-center">
      <p class="text-btn">Solicită o ședință</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
      >
        <path
          d="M3.75 10.5L8.25 6L3.75 1.5"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</div>

<style>
  button:hover {
    background: var(--primary-hover); /* optional, or darken with rgba */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .banner-mobile {
    height: 200px !important;
    width: auto !important;
  }
  .header-3-mobile {
    color: var(--text);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  .sub-name {
    color: var(--secondary);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
  }
  .name-mobile {
    font-style: italic;
    color: var(--textBlack);
    font-size: 24px;
    font-weight: 200;
    line-height: 93.2%; /* 22.368px */
    letter-spacing: 0.1px;
  }
  .image-prim-mobile {
    width: 300px;
    height: auto;
    border-radius: 24px;
  }
  .sub-mobile {
    max-width: 137px;
    color: var(--components);
    font-size: 15px;
    font-weight: 300;
    line-height: 130%; /* 14.3px */
    letter-spacing: 0.1px;
  }
  .heading-mobile {
    color: var(--textBlack);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 28px;
    font-weight: 300;
    line-height: 110%; /* 26.4px */
    letter-spacing: 2px;
  }
  .text-blue {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .header-2 {
    color: var(--textBlack);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    font-weight: 150;
    line-height: 93.2%; /* 44.736px */
  }
  .image-prim {
    max-width: 500px;
    max-height: 642px;
    border-radius: 24px;
    aspect-ratio: 665/841;
  }
  @media only screen and (max-width: 1180px) {
    .image-prim {
      height: auto;
      width: 400px;
    }
  }

  .text-btn {
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .contact-btn {
    height: 70px;
    padding: 10px 16px 10px 16px;
    border-radius: 24px;
    background: var(--primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 8px;
  }
  .header-3 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    color: var(--text);
  }
  .banner {
    padding: 24px;
    background-color: var(--components);
    gap: 44px;
    border-radius: 0px 120px 120px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 400px;
  }
  .top-text {
    max-width: 645px;
  }
  .down-text {
    max-width: 575px;
  }
  .top-container {
    gap: 240;
    padding-top: 100px;
    padding-bottom: 188px;
    border-bottom: 1px solid var(--third);
  }

  .heading {
    font-size: 74px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 2px;
    color: var(--textBlack);
  }
  @media only screen and (max-width: 1180px) {
    .heading {
      font-size: 60px;
      font-weight: 300;
      line-height: 100%;
    }
  }
  .sub-text {
    border-left: 3px solid var(--assets);
    color: var(--components);
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    padding-left: 6px;
    max-width: 300px;
  }
</style>
